<h1>Listing care_groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @care_groups.each do |care_group| %>
      <tr>
        <td><%= care_group.name %></td>
        <td><%= link_to 'Show', care_group %></td>
        <td><%= link_to 'Edit', edit_care_group_path(care_group) %></td>
        <td><%= link_to 'Destroy', care_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Care group', new_care_group_path %>
