<div class="container">
  <h1 class="header table-header" ><%= @care_group.name %></h1>
  <p id="notice"><%= notice %></p>
  <div class="row">
    <table class="table table-striped table-hover ">
      <thead>
        <tr class="success">
        	<th>Name:</th>
        	<th>Actions:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @care_group.name %></td>
          <td><%= link_to 'Edit', edit_care_group_path(@care_group) %></td>
      	</tr>
  	  </tbody>
  	</table>
  </div>
  <div class="row">
	<%= link_to 'Back', care_groups_path %>
  </div>
</div>

