<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
<div class="container">
	<div class ="jumbotron">
		<h2 class="text-center">Resend confirmation instructions</h2>
		<form role="form">	
		  <div class="form-group"><%= f.label :login %><br />
		  <%= f.email_field :login, :autofocus => true, :class =>'input' %></div>

		  <div><%= f.submit "Resend confirmation instructions", :class => 'btn btn-small btn-primary'  %></div>
		<% end %>

		<div class="links"><%= render "devise/shared/links" %></div>
		</form>
	</div>
</div>

