

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="container">
  <form class="form-horizontal devise-edit" role="form">
    <div class="jumbotron devise-edit ">
      <fieldset>
        <legend class="text-center"> Edit Account </legend>  

        <div class="form-group"><%= f.label :username, :class => 'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <%= f.text_field :username, :autofocus => true, :class =>'input form-control' %>
          </div>
        </div>

        <div class="form-group"><%= f.label :email, :class => 'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <%= f.email_field :email, :autofocus => true, :class =>'input form-control' %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group"><%= f.label :password, :class => 'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <%= f.password_field :password, :autocomplete => "off", :class =>'input form-control', :placeholder => "leave blank if you don't want to change it" %>
          </div>
        </div>

        <div class="form-group"><%= f.label :password_confirmation, :class => 'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <%= f.password_field :password_confirmation, :class =>'input form-control' %>
          </div>
        </div>

        <div class="form-group"><%= f.label :current_password, :class => 'col-lg-2 control-label' %> 
          <div class="col-lg-10">
            <%= f.password_field :current_password, :class =>'input form-control', :placeholder => "to confirm your changes" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit "Update", :class => 'btn btn-small btn-primary' %>
          </div>
        </div>
      <legend class="text-center"><u>Cancel my account</u></legend>
      <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <lablel> Unhappy?</label>
          <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :class => 'btn btn-small btn-danger',:method => :delete %></div>
          <div class=" row links"><%= link_to "Back", :back %></div> 
      </div>
      <% end %>
      </fieldset>
    </div>
  </form>
</div>
