<div class="container">
  <h1 class="header table-header" >Listing patients</h1>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-responsive text-hover" id="patients">
        <thead>
          <tr class="info">
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Condition</th>
            <th>Device ID</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @patients.each do |patient| %>
          <tr>
            <td><%= patient.name %></td>
            <td><%= patient.email %></td>
            <td><%= patient.phone %></td>
            <td><%= patient.condition %></td>
            <td><%= patient.deviceId %></td>
            <td><a><%= link_to 'Show', patient %></a> | <a><%= link_to 'Edit', edit_patient_path(patient) %></a> | <a><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></a> </td>
          </tr>
     
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <%= link_to 'New Patient', new_patient_path %>
</div>

</div>



