<% provide(:title, 'Patient Index') %>
<div class="container" id= "index-patient-page" style = "margin-left: -18%">
  <div class="inset">
  <h1 class="header table-header text-center" >Listing patients</h1>
  
  <%= search_form_for @search, url: search_patients_path, html: { method: :post }, :class => 'form-inline' do |f| %>
    <div class = "form-group" >
      <%=f.label :name_cont, "Name contains:", :class => 'control-label' %>
      <%= f.text_field :name_cont, :class => 'input form-control' %>
    </div>
    <div class="form-group"><%= f.submit "Search", :class => 'btn btn-small btn-success'%></div>
  <%end%>


  <div class="row">
      <table class="table table-responsive text-hover">
        <thead>
          <tr class="info">
            <th><%= sort_link(@search, :name, "Name") %></th>
            <th><%= sort_link(@search, :email, "Email") %></th>
            <th><%= sort_link(@search, :phone, "Phone Number") %></th>
            <th>Condition</th>
            <th><%= sort_link(@search, :deviceId, "Device ID") %></th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @patients.each do |patient| %>
          <tr>
            <td><%= patient.name %></td>
            <td><%= patient.email %></td>
            <td><%= patient.phone %></td>
            <td><%= patient.condition %></td>
            <td><%= patient.deviceId %></td>
            <td><a><%= link_to 'Show', patient %></a> | <a><%= link_to 'Edit', edit_patient_path(patient) %></a> | <a><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></a> </td>
          </tr>
     
        <% end %>
      </tbody>
    </table>

    <div class = "row">
      <%= link_to 'Back to Search', patients_path %>
    </div>
        <div class="row">
     <%= link_to 'New Patient', new_patient_path %>
    </div>

  </div>


 </div>
</div>



