<div class="container">
  <h1 class="header table-header" ><%= @patient.name %></h1>
  <p id="notice"><%= notice %></p>
  <div class="row">
    <table class="table table-striped table-hover ">
      <thead>
        <tr class="success">
          <th>Name:</th>
          <th>Email:</th>
          <th>Phone:</th>
          <th>Condition:</th>
          <th>Device ID:</th>
          <th>Actions:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @patient.name %></td>
          <td><%= @patient.email %></td>
          <td><%= @patient.phone %></td>
          <td><%= @patient.condition %></td>
          <td><%= @patient.deviceId %></td>
          <td><%= link_to 'Edit', edit_patient_path(@patient) %></td>
        </tr>
      </tbody>
    </table>
  </div>

 <!-- end of table-->

  <div class="patient-metrics">
    
      <div class="row ">
        <h4><u>Patient Metrics</u></h4>
        <span class="graph-btns">
          <button type="button" class="btn btn-primary" id="btnAutoRefresh">Auto Refresh</button>
          <button  type="button" class="btn btn-primary" id="24hr_data">24 Hours</button>
          <button  type="button" class="btn btn-primary" id="1wk_data">1 Week</button>
        </span>
      </div>
      <div class="row">
        <div class="demo-container">
          <div id="placeholder" style="width:700px;height:375px;" class="demo-placeholder"></div>
        </div>
      </div>  
   
  </div>
      <div class="row">
      <%= link_to 'Back', patients_path %>
    </div> 
</div>
