
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a><%= link_to "Mindful Health", root_path, id: "logo" %></a>
		</div>
		<ul class="nav navbar-nav navbar-right" id="home_about_nav">
			<a><%= link_to "Home", root_path %></a>

			<% if user_signed_in? %> 
                <li><%= link_to "Profile", '#' %></li>
                <li><%= link_to "Settings", '#'%></li>
				<li><%= link_to "Sign out", '#', :method => :delete %><li>
			
			<% else %>
				<li><%= link_to "Meet the Team", about_path %></li>
				<li><%= link_to "Login", '#' %></li>
				<li><%= link_to "Sign Up", '#' %></li>
			<% end %>
		</ul>
	</div>
</nav>






