<!DOCTYPE html>
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> 
  <script src="http://d23cj0cdvyoxg0.cloudfront.net/xivelyjs-1.0.4.min.js"></script>  
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header'  %>  

	<% if user_signed_in? %>
		<%= render 'layouts/sidebar' unless @disable_sidebar %>
			<div class="container page-content-wrapper">
				<%= render 'layouts/messages' %>
				<%= yield %>
				<%= render 'layouts/footer' %>
			</div>
						

		
	<% else %>
	<div class= "container error-messages-wrapper">
		<%= render 'layouts/messages' %>
	</div>

		<%=yield %>
	

		
	<% end %>
     	
</body>
</html>
