<!DOCTYPE html>
<html>
<head>
  <!--<title>MhtAppV2</title>-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>    
<% if user_signed_in? %>
	<%= render 'layouts/sidebar' %>
	
	<div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">



<% end %>
<%= yield %>
<%= render 'layouts/footer' %>

		</div>
    </div>
</body>
</html>
