<!DOCTYPE html>
<html>
<head>
  <!--<title>MhtAppV2</title>-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>    
<% if user_signed_in? %>
	<%= render 'layouts/sidebar'%>
		<div class="container-fluid"id = "page-content-wrapper">
			<div class="page-content inset">


			<% end %>
			<%= yield %>
			

			</div>
    	</div>
    	<%= render 'layouts/footer' %>
</body>
</html>
